@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { padding:0; margin:0; font-size:12px; line-height:100%; font-family:verdana, Arial, sans-serif;}

ul, ol { list-style:none;}
img { border:0;}
.clearfix:before, .clearfix:after,.cf:before, .cf:after{content:""; display:table;}
.clearfix:after,.cf:after{clear:both;}
.clearfix,.cf{*zoom:1;}
.line30{clear:both;height:30px;font-size:0;overflow:hidden} }
body { margin:0; text-align:center; background:#FFF;/* overflow:hidden; */}

#login_header{ background:#FFF; }
.login_logo{width:1000px;margin:0 auto;height:64px;padding:25px 0; /*padding:12px 0;*/ text-align:left;zoom:1;}
.login_logo a{ display:inline-block; width:318px; height:65px; overflow:hidden; margin-left:60px; }

#login_content{background:#cecece; height:510px; position:relative; overflow:hidden; }
.login_main{ width:1000px; margin:0 auto; position:relative; }
.login_main .login_banner{ text-align:left; width:1000px; height:530px; overflow:hidden; }
.login_main .banner_pic{ margin:-20px 0 0; }
.login_main .loginForm{ background:#fff; box-shadow:0 0 10px rgba(0,0,0,.3); width:325px; height:425px; position:absolute; top:40px; right:115px; }
.loginForm h2{ background:url(../default/images/logo_btn.jpg) repeat-x; color:#454545; height:57px; line-height:56px; text-indent:24px; text-align:left; font-size:14px; }
.space_txt{ margin:20px 0 0 25px; height:36px; position:relative;}
.space_txt input{font-size:12px;line-height:1.666;position:relative;zoom:1;padding:5px;height:20px;border:1px solid #959595;background:#fff; position:absolute; left:0; top:0; z-index:5;}
.space_txt label{ font-size:14px; color:#a7a7a7; font-family:'宋体'; position:absolute; left:9px; top:9px; z-index:10; cursor:text; }
.space_txt .login_input{width:250px;}
.space_txt .code{width:130px; }
.space_txt .txt_code{width:115px; position:absolute; left:150px; top:6px; }
.space_txt .txt_code a{ color:#91268f; text-decoration:none; }
.space_txt .txt_code a:hover{ text-decoration:underline; }
.altError{ background:url(../default/images/login_err.png) no-repeat 2px 0px; text-indent:24px; color:#91268f; visibility:hidden; }
.login_bar{ height:28px; text-align:center; }
.login_btn{background:url(../default/images/logo_btn.jpg) repeat-x 0 -57px;color:#FFF;cursor:pointer;display:inline-block;font-size:12px;font-weight:600;height:28px;line-height:28px;outline:none;text-decoration:none;width:88px;text-align:center; word-spacing:10px; margin-left:10px; }


#login_footer{ border-top:38px solid #000; }
.footer_bg{ background:url(../default/images/login_flogo.jpg) no-repeat 48px 16px; width:1000px; margin:0 auto; height:61px; padding:28px 0 0; line-height:28px; }
.footer_bg p{ color:#959595; line-height:20px; text-align:left; margin-left:470px; }


/*** 页面对象高度在784px以下的用户样式，显示的最低高度为 679px ***/
.short .login_logo{ padding:5px 0; }
.short #login_content{ height:480px; }
.short .login_main .banner_pic{ margin:-30px 0 0; }
.short .footer_bg{ background-position:48px 8px; padding:15px 0 0; }

















